

html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  text-align: center;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, serif;
  color: #fff;
  margin: .3em;
}

body {
  text-align: center;
  margin: 0;
}

nav a:hover {
  background-color: #713837;
  color: #f33;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #713837;
  list-style-type: none;
  display: inline-block;
  border-radius: .3em;
  padding: .3em;
}

header {
  background-color: #79756f;
  border-color: #595652;
  border-style: solid;
  padding: .6em;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  margin: .3em;
}
